
.app-screenshots-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
  width: 65%;
  height: 100%;
  background-color: #84d1db;
  overflow: hidden;
  
  img {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
}

@keyframes slide-in {
  from {
    margin-left: 200%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slide-out {
  from {
    margin-left: 0%;
    width: 100%;
  }
  to {
    margin-left: 100%;
    width: 100%;
  }
}

.screen-shots-incoming {
  animation-name: slide-in;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.screen-shots-departing {
  animation-name: slide-out;
  animation-duration: 0.9s;
  animation-timing-function: ease-in;
}

.app-screenshots--large-image {
  width: auto;
  max-width: 28%;
  height: 70vh;
  max-height: 70vh;
  border-radius: 15px;
  margin-top: 2%;
}

.app-screenshots--web-lrg-img {
  border-radius: 10px;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 8%;
  width: 68%;
  max-width: 1000px;
  height: 50vh;
  max-height: 600px;
}

.app-screenshots--web-sml-img {
  width: 26%;
  max-width: 450px;
  height: 65vh;
  max-height: 850px;
  border-radius: 15px;
  margin-top: 2%;
}

.app-screenshots--small-images-column {
  width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1600px) {
  .app-screenshots--large-image {
    max-width: 350px;
    max-height: 850px;
  }

  .app-screenshots--small-images-column {
    width: 15%;
    max-width: 280px;
  }
}
