
.app-screenshots-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
  width: 65%;
  height: 100%;
  background-color: #84d1db;
  overflow: hidden;
  
  img {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
}

@media screen and (min-width: 1600px) {
  .app-screenshots--large-image {
    max-width: 350px;
    max-height: 850px;
  }

  .app-screenshots--small-images-column {
    width: 15%;
    max-width: 280px;
  }
}
