@keyframes into-focus {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about {
  animation-name: into-focus;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;  
}

.about-me {
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 20px;
  font-size: 28px;
  line-height: 50px;
}

.my-name {
  text-decoration: none;
  color: #4CBDF4;

  &:visited {
    color: #4CBDF4
  }
}

.about-title {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8vh;
}

.about-technologies--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;

  .about-technologies {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 500px;
  }
}

.large-bubble {
  animation-name: into-focus;
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
}

.medium-bubble {
  animation-name: into-focus;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

.small-bubble {
  animation-name: into-focus;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
}

.smallest-bubble {
  animation-name: into-focus;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.about--icon-link {
  color: black;
  
  &:visited {
    color: black;
  }
}

@media screen and (max-width: 499px) {
  .about-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFC95F;
  }

  .about-technologies--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  
    .about-technologies {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      align-items: center;
      width: 300px;
    }
  }
}
