.contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;

    h3 {
        margin-bottom: 10px;
    }
    
    a {
        font-size: 24px;
        text-decoration: none;
        color: #4CBDF4;
        
        &:visited {
            color: #4CBDF4;
        }
    }
}