.expanded-image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(0,0,0,.5);
}

.expanded-image--image {
    position: relative;
    height: auto;
    max-height: 80%;
    width: auto;
    max-width: 80%;
    z-index: 10000;
    border-radius: 10px;
}
